<% include ./partials/header.ejs  %>

      <br>
   
        <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Form register -->
                        <img src="/images/logo.jpg" width="150px" height="100px">
                        
                            <h3 class="text-center text-color font-bold py-4"><strong>Oops! Entered OTP is Incorrect.</strong></h3>
                            <div align="center">
                                    <img src="/images/coyote.jpg" width="650" height="300" class="center" class="text-center"/>
                            </div>
                            <div class="text-center py-4">
                             <a href="./"><button class="btn btn-outline-red btn-lg">Back to Home<i class="fa fa-home"></i></button></a>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="./verify"><button class="btn btn-outline-red btn-lg">Re-enter OTP<i class="fa fa-arrow-circle-right"></i></button></a>  
                            </div>
                            
                        <!-- Form register -->
                    </div>
                </div>
            </div>