<% include ./partials/header.ejs  %>

      <br>
   
        <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Form register -->
                        <img src="http://www.nicefirm.com/show/speedbox---courier-services/image/2008090514-4580-2919-640x480/Logo+rev+65.png" width="150px" height="100px">
                        <form action="/" method="post">
                            <h3 class="text-center text-color font-bold py-4"><strong>Let's Verify Our Contact No.</strong></h3>
                            <div class="md-form">
                                <i class="fa fa-phone prefix grey-text"></i>
                                <input type="text" name="mob" id="orangeForm-name37" class="form-control" placeholder="Mobile No." required=""/>
                            </div>
                            <div class="text-center py-4">
                                <button class="btn btn-outline-red">Send OTP<i class="fa fa-paper-plane-o ml-1"></i></button>
                            </div>
                        </form>
                        <!-- Form register -->
                    </div>
                </div>
            </div>

