<% include ./partials/header.ejs  %>

      <br>
   
        <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Form register -->
                        <img src="http://www.nicefirm.com/show/speedbox---courier-services/image/2008090514-4580-2919-640x480/Logo+rev+65.png" width="150px" height="100px">
                        
                            <h3 class="text-center text-color font-bold py-4"><strong>Multiple Failed Attempts Detected!</strong></h3>
                            <div align="center">
                                    <img src="/hulk.jpg" width="800" height="300" class="center" class="text-center"/>
                            </div>
                            <div class="text-center py-4">
                               <a href="./"><button class="btn btn-outline-red btn-lg">Back to Safety<i class="fa fa-home"></i></button></a> 
                            </div>
                        <!-- Form register -->
                    </div>
                </div>
            </div>