<% include ./partials/header.ejs  %>

      <br>
   
        <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Form register -->
                        <img src="/images/logo.jpg" width="150px" height="100px">
                        
                            <h3 class="text-center text-color font-bold py-4"><strong>Oops! Connection Timed Out.</strong></h3>
                            <div align="center">
                                    <img src="/images/time.jpg" width="300" height="240" class="center" class="text-center"/>
                            </div>
                            <div class="text-center py-4">
                                <a href="./"> <button class="btn btn-outline-red btn-lg">Re-send OTP <i class="fa fa-history"></i></button></a>
                            </div>
                            
                        <!-- Form register -->
                    </div>
                </div>
            </div>